.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
  height: auto;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  display: none;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.button:first-of-type {
  left: 0;
}

.button:last-of-type {
  right: 0;
}
